#Ignore outputs
out*/

# Ignore build directory
/build/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled binaries
*.o
*.out
*.exe
uzawa_exec

# IDE or OS-specific files
.vscode/

*.log
*.swp
.DS_Store


# Python virtual envs
.venv/
/venv/
venv/
env/

# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist-info/
build/
dist/
wheelhouse/

# Compiled extensions
*.so
*.dylib
*.pyd

# Backup files
*~
